html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto',  sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 1600px;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
    margin: 0;
}

ul {
    padding: 0;
}

.div-header {
    display: flex;
    flex-direction: row;
    width: 1600px;
    height: 80px;
    left: 1px;
    top: -5px;
    background: #FFFFFF;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    width: 153px;
    height: 31px;
    margin-left: 215px;
    margin-top: 20px;
}

.span-logo,
.logo:hover,
.logo:focus,
.nav-link:hover,
.mail-link:hover,
.nav-link:focus,
.mail-link:focus {
    color: #2196f3;
}

.div-nav {
    margin-left: 85px;
    margin-right: auto;
}

.div-nav-ul {
    display: flex;
    flex-direction: row;
    margin-top: 27px;
}

.div-nav-li:not(:last-child) {
    margin-right: 50px;
}

.div-mail {
    margin-right: 215px;
}

.div-mail-ul {
    display: flex;
    flex-direction: row;
    margin-top: 27px;
}

.div-mail-li:not(:last-child) {
    margin-right: 30px;
}

.nav-link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-link-active {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196f3;
}

.mail-link {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 600px;
    background: rgba(47, 48, 58, 0.8);
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-left: 452px;
    margin-top: 200px;
    margin-right: 452px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.button {
    font-family: 'Roboto',  sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #ffffff;
    width: 200px;
    height: 50px;
    margin-left: 700px;
    margin-right: 700px;
    margin-bottom: 200px;
    background: #2196F3;
    text-align: center;
    align-self: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background: #188ce8;
}

.is-hidden {
   display: none;
}

.feature-div {
    display: flex;
    width: 1170px;
    height: 250px;
    margin-top: 94px;
    margin-left: 215px;
    margin-right: 215px;
}

.feature-ul {
    display: flex;
    flex-direction: row;
    
}

.feature-li:not(:last-child) {
    width: 270px;
    height: 250px;
    margin-right: 30px;
}

.feature-img {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}

.feature-antenna,
.feature-clock,
.feature-diagram,
.feature-astronaut {
    color: #212121;
    width: 70px;
    height: 70px;
    margin-top: 25px;
    margin-right: 100px;
    margin-bottom: 25px;
    margin-left: 100px;
}

.feature-title {
    color: #212121;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
}

.feature-text {
    color: #757575;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.doing-div {
    display: block;
    /*flex-direction: column;*/
    width: 1170px;
    height: 386px;
    margin-top: 188px;
    margin-right: 215px;
    margin-left: 215px;
}

.doing-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.doing-ul {
    display: flex;
    justify-content: space-between;
}

.doing-li:not(:last-child) {
    margin-right: 30px;
}

.doing-background {
    background: rgba(47, 48, 58, 0.8);
    border-radius: 0px;
    width: 370px;
    height: 70px;
}

.doing-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 27px;
    padding-bottom: 27px;
}

.team {
    background: #F5F4FA;
    width: 1600px;
    height: 702px;
    margin-top: 94px;
}

.team-title {
    color: #212121;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 94px;
}

.team-ul {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 215px;
    margin-left: 215px;
    width: 1170px;
    height: 422px;
}

.team-li:not(:last-child) {
    margin-right: 30px;
}

.team-li {
    background-color: #ffffff;
}

.team-name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
}

.team-position {
    color: #757575;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 10px;
}

.team-social {
    display: flex;
    flex-direction: row;
    margin-right: 32px;
    margin-bottom: 24px;
    margin-left: 32px;
}

.team-social-network:not(:last-child) {
    margin-right: 10px;
}

.social-network {
    color: #afb1b8;
    width: 44px;
    height: 44px;
}

.clients {
    display: block;
}

.our-div {
    display: block;
    flex-direction: column;
    width: 1170px;
    height: 182px;
    margin-top: 94px;
    margin-right: 215px;
    margin-left: 215px;
}

.our-title {
    color: #212121;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}

.our-ul {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.our-li:not(:last-child) {
    margin-right: 30px;
}

.our-img {
    width: 170px;
    height: 90px;
}

.footer {
    background: #2f303a;
    width: 1600px;
    height: 253px;
    display: block;
}

.div-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.div-address {
    display: block;
    margin-top: 48px;
    margin-left: 214px;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.03em;
}

.logo-footer-part,
.logo-footer:hover,
.logo-footer:focus,
.footer-address-contacts:hover,
.footer-address-contacts:focus {
    color: #2196f3;
}

.footer-address {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 10px;
    width: 230px;
    height: 80px;
}
  
.footer-address-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.footer-social {
    display: flex;
    flex-direction: column;
    width: 205px;
    height: 80px;
    margin-left: 69px;
    margin-top: 55px;
}

.footer-social-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.footer-ul {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
   
}

.footer-li:not(:last-child) {
    margin-right: 10px;
}

.footer-img {
    background: #2f303a;
}
    
.footer-email-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-email-button {
    width: 570px;
    height: 87px;
    margin-left: 94px;
    margin-top: 55;
    margin-right: 215px;
}

.footer-email {
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: #2f303a;
    
}

.footer-button {
    background: #2196f3;
    color: #ffffff;
    width: 200px;
    height: 50px;
    font-weight: 900;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
}

.footer-signature {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
    padding-top: 20px;
    padding-bottom: 20;
}

.portfolio-div {
    display: block;
    width: 1170px;
    margin-left: 215px;
    margin-right: 215px;
    margin-top: 93px;
}

.portfolio-ul-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.portfolio-item {
    background-color: #F5F4FA;
    border-radius: 4px;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    align-items: center;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
}

.portfolio-li:not(:last-child) {
    margin-right: 8px;
}

.portfolio-item:hover,
.portfolio-item:focus {
    background-color: #2196F3;
    color: white;
}

.project-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.project-value {
    color: #757575;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.project-name {
    color: #212121;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

